<div class="section section-timeline col-12 row no-gutters">
    <div class="title graphene-spacer-100 col-10 offset-1 text-md-center">PAST AND FUTURE ROADMAP</div>
    <div id="timeline-wrapper" class="col-12">
        <div class="timeline">
            <div class="timeline-period timeline-period-boundary">
                <span class="timeline-pointer timeline-pointer-boundary"></span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period-start-label">2020<i class="material-icons">arrow_right</i></span>
                    <span class="timeline-period-center-label"></span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            MIT COVID-19 Challenge: India Turning the Tide Hackathon Winner
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            MIT COVID-19 Challenge: Hack4theFuture Hackathon Winner
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            Linux Foundation OSS Japan + Automotive Linux Summit 2020 Scholarship Recipient
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period-start-label">2021<i class="material-icons">arrow_right</i></span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            Schneider Go Green 2021 India Finalist
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            Harvard College Project for Asian and International Relations 21’ Delegate
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            American Express CodeStreet’21 1st Runner-Up
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period-start-label">2022<i class="material-icons">arrow_right</i></span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            Clinton Global Initiative University Fellow
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            Techgium 5th Edition Finalist
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            ETHIndia 2022 EY Starlight Winner
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period-start-label">2023<i class="material-icons">arrow_right</i></span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                    
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period-start-label">2024</span>
                    <span class="timeline-period-center-label"><i class="material-icons">arrow_right</i></span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            <a href="#" target="_blank">
                                
                            </a>
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            <a href="#" target="_blank">
                                
                            </a>
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period-start-label">2025</span>
                    <span class="timeline-period-center-label"><i class="material-icons">arrow_right</i></span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period-start-label">2026</span>
                    <span class="timeline-period-center-label"><i class="material-icons">arrow_right</i></span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period-start-label">2027</span>
                    <span class="timeline-period-center-label"><i class="material-icons">arrow_right</i></span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
                <span class="timeline-period timeline-period-year">
                    <span class="timeline-period-start-label">2028</span>
                    <span class="timeline-period-center-label"><i class="material-icons">arrow_right</i></span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label high">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                    <span class="timeline-period timeline-period-event">
                        <span class="timeline-event-label">
                            
                        </span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                        <span class="timeline-pointer"></span>
                    </span>
                </span>
            </div>
        </div>



                                                    
                                                <
                                                    
                                                    
                                                   
                                                       
                            Smart India Hackathon 2022 Finalist
                            