{% extends "layout.html" %}
{% block title %}Gramine{% endblock %}
{% block body_class %}page-template-landing page-template-templateslanding-php{% endblock %}
{% block body %}
    <div class="section section-summary col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters align-items-lg-center">
        <div class="background col-12 col-md-5 col-lg-3 offset-lg-1">
            <img src="{{ '/static/img/logo.png'|url }}" alt="Graphene" />
        </div>
        <div class="description graphene-white col-12 col-md-7">
            <span class="name graphene-blue">Pratyaksh Gupta</span><br>[onchainengineer] 
            <div class="developed-by">2x MIT Covid-19 Challenge Winner - Information Security Analyst Intern @American Express  ETHIndia 2022 EY Starlight Winner - Schneider Go Green 2021 Greater India Finalist<br>#BlockchainForGood</div>
        </div>
    </div>

    <div class="section section-description col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters align-items-center">
        <div class="title graphene-blue col-12 col-md-6 col-lg-3 offset-lg-2">About</div>
        <div class="description graphene-white col-12 col-md-6 col-lg-5 offset-lg-1">
            Introducing Pratyaksh, a highly talented and accomplished electrical and electronics engineering student with a deep passion for exploring the limitless possibilities of decentralized technology. Pratyaksh's impressive achievements include being recognized as a two-time MIT Covid-19 Challenge Winner by the Massachusetts Institute of Technology, a Go Green 2021 Greater India Finalist by Schneider Electric, and a Clinton Global Initiative University Fellow by the Clinton Foundation.  <br />
            <br />
            With a strong understanding of the underlying principles of blockchain and a keen eye 
            for innovation, Pratyaksh is always at the forefront of the latest developments in the 
            field. From developing smart contract applications to delving into the intricacies of 
            cryptography, he is committed to pushing the boundaries of what is possible with blockchain 
            technology and creating a more transparent and secure future for us all.<br />
            <br />
            Pratyaksh is also deeply committed to using blockchain technology to create positive 
            change in the world. His recent focus on FHE (Fully Homomorphic Encryption) based 
            privacy-oriented open-source implementation of smart contracts, including their applications 
            to decentralized health, energy, and identity, reflects this dedication. He is currently working 
            on building VISCA: Verifiable Interoperable Secure Care Architecture, a project he started at the 
            ETHIndia 2022 Hackathon and was recognized as the EY Starlight Technology Winner.
        </div>
    </div></div>
{% endblock %}
