{% extends "layout.html" %}
{% block title %}Resources &ndash; Pratyaksh Gupta{% endblock %}
{% block body_class %}page-template-resources{% endblock %}
{% block body %}
    <div class="section section-the-basics col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters">
        <div class="col-12 col-lg-10 offset-lg-1 row no-gutters">
            <div class="title graphene-spacer-50 col-12 text-md-center">PROOF-OF-WORK: PROJECTS</div>
            <div class="document col-12 col-md-4 row no-gutters p-md-4 pt-4">
                <a href="#" target="_blank" class="col-12 row no-gutters align-items-center">
                    <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                    <div class="col-8 offset-1 col-md-12 offset-md-0">
                        <div class="title">VISCA: Verifiable Secure Care Architecture</div>
                        <div class="description">- ETHIndia 2022 EY Starlight Winner</div>
                    </div>
                </a>
            </div>
            <div class="document col-12 col-md-4 row no-gutters p-md-4 pt-4">
                <a href="#" target="_blank" class="col-12 row no-gutters align-items-center">
                    <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                    <div class="col-8 offset-1 col-md-12 offset-md-0">
                        <div class="title">Tenacity Network</div>
                        <div class="description">- Cosmos SDK Based Layer-01 Blockchain</div>
                    </div>
                </a>
            </div>
            <div class="document col-12 col-md-4 row no-gutters p-md-4 pt-4">
                <a href="#" target="_blank" class="col-12 row no-gutters align-items-center">
                    <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                    <div class="col-8 offset-1 col-md-12 offset-md-0">
                        <div class="title">Graphene-SGX USENIX presentation</div>
                        <div class="description">Cooperation and Security Isolation of Library OSes for Multi-Process Applications</div>
                    </div>
                </a>
            </div>
            <div class="document col-12 col-md-4 row no-gutters p-md-4 pt-4">
                <a href="#" target="_blank" class="col-12 row no-gutters align-items-center">
                    <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                    <div class="col-8 offset-1 col-md-12 offset-md-0">
                        <div class="title">VISCA: Verifiable Secure Care Architecture</div>
                        <div class="description">- ETHIndia 2022 EY Starlight Winner</div>
                    </div>
                </a>
            </div>
            <div class="document col-12 col-md-4 row no-gutters p-md-4 pt-4">
                <a href="#" target="_blank" class="col-12 row no-gutters align-items-center">
                    <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                    <div class="col-8 offset-1 col-md-12 offset-md-0">
                        <div class="title">Tenacity Network</div>
                        <div class="description">- Cosmos SDK Based Layer-01 Blockchain</div>
                    </div>
                </a>
            </div>
            <div class="document col-12 col-md-4 row no-gutters p-md-4 pt-4">
                <a href="#" target="_blank" class="col-12 row no-gutters align-items-center">
                    <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                    <div class="col-8 offset-1 col-md-12 offset-md-0">
                        <div class="title">Graphene-SGX USENIX presentation</div>
                        <div class="description">Cooperation and Security Isolation of Library OSes for Multi-Process Applications</div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="section section-publications col-10 offset-1 col-xl-6 offset-xl-3 row no-gutters">
        <div class="col-12 col-lg-10 offset-lg-1 row no-gutters">
            <div class="title graphene-spacer-50 col-12 text-md-center">PROOF-OF-WORK: PUBLICATIONS</div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                <a href="#" target="">
                    <div class="title">Leveraging Dynamic NFTs for Real-Time Health Tracking</div>
                    <div class="link">mirror.xyz/pratyakshgupta.eth</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                <a href="#" target="">
                    <div class="title">Protecting Privacy in VISCA: The Role of Coconut Credentials v1.0</div>
                    <div class="link">mirror.xyz/pratyakshgupta.eth</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                <a href="#" target="">
                    <div class="title">VISCA 2.0 Whitepaper v1.0</div>
                    <div class="link">mirror.xyz/pratyakshgupta.eth</div>
                </a>
            </div>
            <div class="document col-12 col-md-4 graphene-spacer-50 p-md-4">
                <div class="col-3 col-md-12 image text-center"><img src="{{ '/static/img/procesor_1.svg'|url }}" alt="Document" /></div>
                <a href="#" target="">
                    <div class="title">Health Graph Whitepaper v1.0</div>
                    <div class="link">mirror.xyz/pratyakshgupta.eth</div>
                </a>
        </div>
    </div>
{% endblock %}
